@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 20px auto;
    background: rgb(204,204,204);
}
page {
    background: white;
    display: block;
    margin: 0 auto 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
    width: 8.3in;
    height: 11.7397in;
}
@media print {
    body, page {
        margin: 0;
        box-shadow: none;
    }
}

@layer base {
    @font-face {
        font-family: 'Metropolis';
        src: url('/fonts/Metropolis-Light.otf');
        font-weight: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Metropolis';
        src: url('/fonts/Metropolis-Bold.otf');
        font-weight: bold;
        font-display: swap;
    }

}